.header{
    position: relative;
    background: url('../img/header_bg.jpg') no-repeat 50%/cover ;
    max-width: 1920px;
    min-height: 100vh;
    padding: 23px 5px 82px 5px;
    background-color: #2e2e2e;

    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        
        &-logo{
            img{
                width: 95px;
                height: 99px;
            }
        }
        
        &-links{
            ul{
                display: flex;
                justify-content: space-around;
                list-style: none;

                li{
                    padding-right: 15px;
                    padding-left: 15px;
                    border-right: 1px dotted #ffffff;
                    &:last-child{
                        border-right: none;
                    }
                    a{
                        color: #ffffff;
                        &:hover{
                            color: $main-color;
                            text-decoration: underline;
                        }
                    }        
                }

            }           
        }

        &-contact{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &-phone{
                font-size: 19px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.26;
                letter-spacing: normal;
                text-align: right;
                margin-right: 20px;
                span{
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                }
            }
        }
    }

    &__title{
        text-align: center;
        color: #ffffff;
        h2{
            margin-top: 26px;
            margin-bottom: 0;
            color: $main-color;
            font-weight: bold;
            line-height: 72px;
        }
        h4{
            margin-top: 10px;
        }
        &-delimiter{
            margin-top: 38px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 70%;
            margin: 0 auto;
            div{
                background-color: #ffffff;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                &:first-child,&:last-child{
                    height: 2px;
                    width: 45%;
                    border-radius: 0;
                }
            }
        }
    }
    &__description-work{
        margin-top: 27px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        color: #ffffff;
        div{
            text-align: center;
            img{
                display: block;
                margin: 0 auto;
                width: 63px;
                height: 63px;
            }
            p{
                margin-top: 13px;
            }
        }
    }

    &__get-calculation{
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
    }
}