.promo{
    min-height: 342px;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 50px;
    h2{
        margin-top: 20px;
    }
    p{
        margin-top: 20px;
        font-weight: normal;
    }
}
.china-agent{
    background: url('../img/china-wall-bg.png') no-repeat 50%/cover ;
}
.menedgers-conpany{
    background: url('../img/city-china-bg.png') no-repeat 50%/cover ;
}